.numOperation {
    margin-left: 12px;
    display: flex;
    width: 130px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F7FA;

    .num-btn {
        font-size: 24px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
    }
}

.border {
    border: 1px solid #D8DCE3;
    background-color: #fff;
    .num-value {
        height: 40px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #D8DCE3;
        border-right: 1px solid #D8DCE3;
    }

}