.magnify-glass {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 1000;
}