.checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    .unchecked{
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: 1px solid #D8DCE3;
        border-radius: 2px;
        background-color: #fff;
    }
    .checked{
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
    }
}