.form-radio {   
    display: flex;
    margin-left: 20px;
    min-width: 20px;
    height: 20px;
    .radio-checked {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #D8DCE3;
        box-sizing: border-box;
    }
    img{
        display: block;
    }
}