.invoice-container{
        padding: 20px;
        .invoice-title{
            color: #1F2022;
        font-size: 20px;
        font-weight: 600;
        }
        .invoice-small{
            margin-top: 15px;
            font-size: 14px;
            color: #707379;
        }
        .invoice-content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            .invoice-item{
                margin-top: 10px;
                .invoice-label{
                    margin-bottom: 10px;
                }
            }
        }
}