.goods-card {
    display: flex;
    flex-direction: column;
    width: 284px;
    height: 411px;
    background-color: #fff;
    border-radius: 15px;

    .name {
        color: #1F2022;
        font-size: 16px;
        font-weight: 400;
        padding: 0 20px;
        margin-top: 15px;
    }

    .sales {
        margin-top: 6px;
        color: #707379;
        font-size: 12px;
        padding: 0 20px;
    }

    .price {
        margin-top: 10px;
        padding: 0 20px;

        .unit {
            color: #FE2E00;
            font-size: 12px;
            font-weight: 600;
        }

        .value {
            margin-left: 5px;
            color: #FE2E00;
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.goods-card-type2 {
    display: flex;
    align-items: center;

    .cover {
        width: 70px;
        height: 70px;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 70px;
        }

    }

    .info {
        margin-left: 15px;
        display: flex;

        .name {
            font-size: 14px;
            color: #1F2022;
        }

        .unit {
            margin-left: 81px;
            font-size: 16px;
            font-weight: 600;
            color: #FE2E00;
        }

        .value {
            margin-left: 10px;
            font-size: 16px;
            font-weight: 600;
            color: #FE2E00;
        }
    }

    .carrot-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .image-wrapper {
        position: relative;
        width: 256px;
        /* 16rem = 256px */
        height: 256px;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carrot-text {
        margin-top: 0.75rem;
        font-size: 1.125rem;
        /* 18px */
        color: #374151;
        /* gray-700 */
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 256px;
    }

    /* 可选的悬停效果 */
    .image-wrapper:hover img {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}

.carrot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.image-wrapper {
    position: relative;
    width: 256px;
    /* 16rem = 256px */
    height: 256px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrot-text {
    margin-top: 0.75rem;
    font-size: 1.125rem;
    /* 18px */
    color: #374151;
    /* gray-700 */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 256px;
}

/* 可选的悬停效果 */
.image-wrapper:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}