.address-select {
    padding: 30px;
    box-sizing: border-box;
    .first{
        display: flex;
        align-items: center;
        justify-content: space-between; 
        margin-bottom: 20px;
    }
    .empty {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .address-title{
        font-size: 20px;
        font-weight: 600;
        color: #1F2022;
    }

    .address-add {
        width: 216px;
        height: 44px;
        border-radius: 4px;
        background-color: #F5F7FA;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: 15px;

    }
    .small{
        width: 105px;
        font-size: 14px;
        height: 30px;
    }
    .address-list{
        display: grid ;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
        .address-box {
            width: 303px;
            height: 69px;
            padding: 20px;
            border-radius: 10px;
        
            border: 1px solid #D8DCE3;
        
            .address-first {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        
            .province {
                display: flex;
                align-items: center;
                justify-content: center;
        
                .local-icon {
                    width: 20px;
                    margin-right: 8px;
                }
            }
        
            .address {
                margin-top: 8px;
                font-size: 16px;
                font-weight: 700;
                color: #1F2022;
                padding-left: 28px;
            }
        
            .contact {
                margin-top: 8px;
                padding-left: 28px;
                font-size: 14px;
                font-weight: 400;
                color: #707379;
            }
        }
        
        .active {
            border: 1px solid #3630EC;
        }
    }
    .form-group{
        .error-text{
            color: red;
            padding-left: 10px;
        }
        padding-left: 10px;
        .form-item{
            margin-top: 10px;
        }
        .cancel,
            .ok {
                display: flex;
                margin-right: 20px;
                width: 150px;
                height: 50px;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                background: #F5F7FA;
            }
            .btn-primary {
                color: #fff;
                background: linear-gradient(90deg, #3630EC 0%, #C8379D 100%);
            }
    }

}